##############################################################################
# Copyright (c) 2017 HUAWEI TECHNOLOGIES CO.,LTD and others.
#
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Apache License, Version 2.0
# which accompanies this distribution, and is available at
# http://www.apache.org/licenses/LICENSE-2.0
##############################################################################

#!/bin/bash
set -ex

#set OPV="ocata"

apt-get update && apt-get install -y software-properties-common wget

add-apt-repository -y cloud-archive:$OPV

# add keys and repos

# ubuntu cloud
apt-get install -y ubuntu-cloud-keyring
add-apt-repository 'deb http://ubuntu-cloud.archive.canonical.com/ubuntu xenial-updates/ocata main'

# galera
apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv 0xF1656F24C74CD1D8
add-apt-repository 'deb http://mirror.rackspace.com/mariadb/repo/10.1/ubuntu xenial main'

# rabbitmq
apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv 0x6B73A36E6026DFCA
add-apt-repository 'deb http://www.rabbitmq.com/debian testing main'
#wget http://www.rabbitmq.com/releases/rabbitmq-server/v3.6.9/rabbitmq-server_3.6.9-1_all.deb

# bird
apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv 0xf2331238f9c59a45
add-apt-repository 'deb http://ppa.launchpad.net/cz.nic-labs/bird/ubuntu xenial main'

# keepalived
apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv 7C33BDC6
add-apt-repository -y ppa:keepalived/stable

# ceph_client
apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv 0xe84ac2c0460f3994
add-apt-repository 'deb http://download.ceph.com/debian-kraken/ xenial main' # use j or k?

# galera_server
wget -O /var/cache/apt/percona-xtrabackup-24_2.4.5-1.xenial_amd64.deb https://www.percona.com/downloads/XtraBackup/Percona-XtraBackup-2.4.5/binary/debian/xenial/x86_64/percona-xtrabackup-24_2.4.5-1.xenial_amd64.deb
# todo: 
# sha256-x86_64: "6a71704e625194689d2a6b325765608040ff5da82ac4bc8ce6ac3756f9a9130f"
wget -O /var/cache/apt/qpress_11-1.xenial_amd64.deb https://repo.percona.com/apt/pool/main/q/qpress/qpress_11-1.xenial_amd64.deb
# todo: 
# sha256-x86_64: "c615ec08eb38a9cb59541ae1d7ed42db35e92513735834b48d30d4c485e01534"

apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv 0xF1656F24C74CD1D8
add-apt-repository 'deb http://mirror.rackspace.com/mariadb/repo/10.1/ubuntu xenial main'
apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv 0x9334a25f8507efa5
add-apt-repository 'deb http://repo.percona.com/apt xenial main'

apt-get update

apt-get install reprepro -y

#set packages = $getVar('packages', [])
#for pkg in $packages
apt-get -d install $pkg -y
#end for

#make ppa
mkdir -p /var/www/html/xenial-$OPV-ppa/conf
cat <<EOF > /var/www/html/xenial-$OPV-ppa/conf/distributions
Codename: xenial
Components: main
Architectures: amd64
EOF

mkdir -p /opt/deb
find /var/cache/apt/ -name '*.deb' | xargs -i cp {} /opt/deb/
reprepro -b /var/www/html/xenial-$OPV-ppa includedeb xenial /opt/deb/*.deb

